<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <!--グローバルに認識されるアバター-->
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
            
            <div id="profile">
               <span class="glyphicon glyphicon-map-marker col-sm-1 "></span><%= @user.place %>
            </div>
            <div id="profile">
                <span class="glyphicon glyphicon-user col-sm-1 "></span><%= @user.profile %>
            </div>
            <br>
            <button type="button" class="btn btn-primary btn-lg pull-right btn-sm">
                <%= link_to "プロフィール編集" , edit_user_path(@user), style:"color: white;" %>
            </button>
        </section>
    </aside>
    <div class ="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <!--views/microposts/_micropost.html.erb-->
                <%= render @microposts %>
            </ol>
        <% end %>
        <%= paginate(@microposts) %>
    </div>
</div>